body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}